@use "./dark.scss";
@use "./light.scss";
html,
body {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--td-bg-color-page);
}
#root,
.home {
  height: 100%;
  overflow: hidden;
}
a:active,
a:link,
a:visited,
a:hover {
  color: var(--td-text);
}
